body {
	font-family: 'Montserrat', sans-serif;
}


.name{
	font-size: 1.8rem;
    font-weight: 600;
}

.span-gyan {
    color: #1ebba3;
}

.text{
	font-family: 'Allura', cursive;
	font-size: 45px;
	color: #ff8c00;
	position: relative;
	left: 85%;
}

@media (max-width:1200px) {
	.text{
		display:none;
	}
}

.content{
	margin-top: 70px;
}

.speakers{
	display: flex;
	flex-direction: column;
	align-items: center;
}

#team {
	padding: 30px 0;
}
.sec-heading h6 {
	font-family: 'Allura', cursive;
	font-size: 65px;
}
.single-box {
	border: 1px solid #ddd;
	border-radius: 20px;
	overflow: hidden;
	background-color: #fff
}
.info-area {
	padding: 0 20px 45px;
}
.img-area {
	overflow: hidden;
	padding: 15px 0 15px;
}
.img-area img {
	margin: 0 auto;
	-webkit-transition: all 0.5s ease;
	transition: all 0.5s ease;
	max-width: 230px
}
.single-box:hover img {
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
}
.info-area i {
	display: inline-block;
    font-size: larger;
	color: white;
	margin: 0 4px;
}

.info-area h4 {
	font-weight: 600
}
.info-area h5 {
	color: #3b04db;
	margin: 10px 0 0;
	font-weight: 600
}
.info-area a {
	display: inline-block;
    height: 40px;
    width: 40px;
	margin: 25px 0 0;
    padding-top: 10px;
	background-color: darkorange;
	color: #fff;
	border-radius: 50%;
}
.team-slider .owl-dots {
	position: absolute;
	left: 0;
	right: 0;
	bottom: -50px;
	text-align: center;
	width: 100%;
}
.team-slider button.owl-dot {
	width: 16px;
	height: 16px;
	display: inline-block;
	margin: 0 6px;
	text-align: center;
	border-radius: 50%;
	background-color: #262626;
}
.team-slider .owl-dot.active {
	background-color: coral;
}
.carousel-inner > .carousel-item > img {
	
	margin-top:17px;
	width:98%;
	height:700px;
}
.containerHeader{
	align-content: center;
	display: flex;
	gap:15px;
	height: 850px;
	margin-left: 40px;
	margin-right:20px;
}
.description{
	padding-left: 10px;
	width:45%;
	font-size:10px;
	font-family: 'Gill Sans', cursive;
	color: rgb(224, 83, 83);
	margin-left: 10px;
	height:70%;
}
.header{
	width:48%;
}

@media(max-width:800px){
	.carousel-inner > .carousel-item > img {
    padding-top: 10px;
	margin-top:7px;
	width:100%;
    height:700px;
	align-content: center;
	}
	.containerHeader{
		align-content: center;
		display:block;
		height: 1400px;
		margin-left: 40px;
		margin-right:20px;
	}
	.description{
		padding-left: 10px;
		margin-top:20px;
		width:100%;
		font-size:10px;
		font-family: 'Gill Sans', cursive;
		color: rgb(224, 83, 83);
		margin-left: 10px;
		height:70%;
		text-align: left;
	}
	.header{
     height:900px;  
	}
}


.black{
	color:#000;
	
}



.pointsContent{
	margin-top: 5px;
	margin-bottom: 2px;
}
.carousel-control-prev,.carousel-control-next{
	opacity:0;
}
/* images */

/* images */
.picture{
	/* margin-left:30%;
	margin-right: 30%; */
	text-align: center;
	margin-top:2%;
	/* padding-top:2%; */
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	margin-right:10%;
	margin-left: 10%;
	
}
.poster{
	height:100%;
	width:100%;
	object-fit: contain;
	/* margin-top: 10%; */
	/* border-radius: 5%; */
}
.headingmain{
	font-weight: 700;
	text-align: center;
	font-size: 60px;
	font-family: 'IBM Plex Serif';
	text-transform: uppercase;
	background: linear-gradient(90deg, #000, #fff, #000);
	letter-spacing: 5px;
	-webkit-background-clip: text;
	background-clip: text;
	-webkit-text-fill-color: transparent;
	background-repeat: no-repeat;
	background-size: 80%;
	animation: shine 6s linear infinite;
	position: relative;
	
  }
  
  @keyframes shine {
	0% {
	  background-position-x: -500%;
	}
	100% {
	  background-position-x: 500%;
	}
  }
  .textandanim{
	  display: flex;
	  flex-direction: column;
  }

.date{
	margin-left:20px;
}


.Title{
	color:rgb(44, 139, 17);
	margin-bottom: 10px;
	font-family: 'Allura',cursive;
	text-align: center;
	font-weight: 2000;
	font-size: 30px;
}
.description1{
	margin-bottom: 10px;
}
.description2{
	margin-bottom: 10px;
}

.points{
	color:rgb(243, 82, 82);
}
 @media only screen and (max-width: 768px) {
	.picture{
		/* margin-left:30%;
		margin-right: 30%; */
		text-align: center;
		margin-top:2%;
		/* padding-top:2%; */
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		margin-right:10%;
		margin-left: 10%;
		
	}
	
	 
 }