body {
	font-family: 'Montserrat', sans-serif;
}
.nav-bar{
	height: 70px;
	display: flex;
	background-color: red;
	/* overflow: hidden; */
	position: fixed;
	top: 0;
	width: 100%;
	z-index:2;
}
.content{
	margin-top: 70px;
}
.nav-bar ul{
	display: flex;
}
.nav-bar ul li{
	flex-direction: column;
	list-style: none;
	padding: 20px;
	cursor: pointer;
	text-decoration: none;
}
.nav-bar ul li a{
	text-decoration: none;
}
.speakers{
	display: flex;
	flex-direction: column;
	align-items: center;
}

#team {
	padding: 30px 0;
}
.sec-heading h6 {
	font-family: 'Allura', cursive;
	font-size: 65px;
}
.single-box {
	border: 1px solid #ddd;
	border-radius: 20px;
	overflow: hidden;
	background-color: #fff
}
.info-area {
	padding: 0 20px 45px;
}
.img-area {
	overflow: hidden;
	padding: 15px 0 15px;
}
.img-area img {
	margin: 0 auto;
	-webkit-transition: all 0.5s ease;
	transition: all 0.5s ease;
	max-width: 230px
}
.single-box:hover img {
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
}
.info-area i {
	display: inline-block;
    font-size: larger;
	color: white;
	margin: 0 4px;
}

.info-area h4 {
	font-weight: 600
}
.info-area h5 {
	color: #3b04db;
	margin: 10px 0 0;
	font-weight: 600
}
.info-area a {
	display: inline-block;
    height: 40px;
    width: 40px;
	margin: 25px 0 0;
    padding-top: 10px;
	background-color: darkorange;
	color: #fff;
	border-radius: 50%;
}
.team-slider .owl-dots {
	position: absolute;
	left: 0;
	right: 0;
	bottom: -50px;
	text-align: center;
	width: 100%;
}
.team-slider button.owl-dot {
	width: 16px;
	height: 16px;
	display: inline-block;
	margin: 0 6px;
	text-align: center;
	border-radius: 50%;
	background-color: #262626;
}
.team-slider .owl-dot.active {
	background-color: coral;
}

.btn{
	position: relative;
	width: 200px;
	top: 125px;
}

.carousel-inner > .carousel-item > img {
	width:100%;
	height:400px;
}

.container{
	align-content: center;
	margin-top:10px;
}
.carousel-control-prev,.carousel-control-next{
	opacity:0;
}

